{
    "extension": [
        ".js",
        ".ts",
        ".vue"
    ],
    "include": [
        "src/**/*.{js,ts,vue}"
    ],
    "exclude": [
        "**/*.spec.*"
    ],
    "instrument": false,
    "sourceMap": false,
    "reporter": [
        "text",
        "lcov"
    ]
}